.leaderBoard {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 100%;
}

td {
    border: 2px solid white;
    margin: 0;
    text-align: center;
    font-weight: 550;
}

tr:first-of-type {
    background-color: goldenrod;
}

tr:nth-of-type(2) {
    background-color: silver;
}

tr:nth-of-type(3) {
    background-color: rgb(80, 50, 20);
}

th {
    border: 2px solid white;
    background-color: gray;
}

table {
    width: 50%;
    border-collapse: collapse;
    border-radius: 10px;
}