@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.login button {
    border: none;
    background-color: white;
    color: red;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.login button:hover {
    background-color: rgb(54, 54, 54);
    color: white;
}

.userPic {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userPic img {
    border-radius: 100%;
    margin: 10px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    text-shadow:
    1px 1px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media screen and (max-device-width: 600px) {
.login{
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.userInfo {
    margin: auto;
}

.login img,
.login h1 {
    display: none;
}


}