.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.userPic {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userPic img {
    border-radius: 100%;
    margin: 10px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}