.userClick {
    width: 200px;
    height: fit-content;
    background-color: white;
    position: absolute;
    display: none;
}

.showPopUp {
    display: flex;
    grid-template-columns: 2fr;
    flex-direction: column;
}

.inputLine {
    display: flex;
    align-items: center;
}